
{% extends "Home.html" %}

	{% block content %}

		<h3 class="heading text-primary">Class Count</h3>
		<form id="frm" name="frm" method="post" action="/ProcessClassCount" enctype="multipart/form-data">
			
            <div class="text-center">
				<button type="submit" class="btn btn-outline-primary btn-sm col-sm-1">Generate</button>
			</div>
    
    

		</form>
		{% if displayResult == True %}
		<div class="text-center">
			
            <img class="img-fluid" src="static/Output/ClassCount.png" /> 

		</div>

    	{% endif %}
    
{% endblock %}
    